@import "../../sass/variables";

.button-linkstyle-lang {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.button-linkstyle-lang:focus {
  outline: none;
}

.underline {
  text-decoration: underline;
}

.app-header {
  text-align: center;
  background-color: $color-blue;
  height: $header-height;
  padding-top: 3rem;
  color: $color-white;
  position: relative;
}

.logo-header {
  height: 6rem;
}
.logo-header:hover {
  cursor: pointer;
}

.languages {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}
