@import '../../sass/variables';
@import '../../sass/mixin';

.roomHeader-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  .roomHeader-logo {
    height: 6rem;
    margin: 0.4rem;
    cursor: pointer;
  }

  .code-container {
    height: 100%;
    text-align: center;
    font-size: 4rem;
    display: flex;
    align-items: center;

    .code-label {
      display: inline-block;
      color: $color-blue-light;
      margin-right: 0.5rem;
    }
    .code-value {
      display: inline-block;
      color: $color-blue;
    }
  }
}
