@import "../../sass/variables";

.roomHeader-container {
  height: $room-header-height;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      to right bottom,
      $color-blue-low-opacity,
      $color-blue-light-low-opacity
    ),
    url(../../../img/planning-poker.jpg);
  .roomHeader-logo {
    margin-left: 5rem;
    align-self: center;
    cursor: pointer;
    min-width: 20rem;
  }

  .roomHeader-title {
    font-size: 5rem;
    padding: 2rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    color: #ffffff;
    flex-grow: 2;
  }

  .roomHeader-code {
    color: #ffffff;
    border-style: solid;
    padding: 2rem;
    align-self: center;
    margin-right: 5rem;
    text-align: center;
  }
}
