@import "../../../../common/sass/variables";
@import "../../../../common/sass/mixin";

.ceremonySelection {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .ceremony-icon {
    height: 7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.6rem;

    @include responsive(big-desktop) {
      margin: 1rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .border-white {
    border: solid;
    border-color: white;
  }
}
