@import '../../../../common/sass/variables';
@import '../../../../common/sass/mixin';

.ceremonySelection {
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5rem;

  .ceremony-icon {

    position: relative;
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.6rem;

    @include responsive(big-desktop) {
      margin: 1rem;
    }

    &:hover:not(.border-white) {
      cursor: pointer;
    }


    .pokerplanning {
      height: 100%;
      width: 100%;
    }


    .tshirt {
      height: 100%;
      width: 100%;
    }

    .trafficlight {
      height: 100%;
      width: 100%;
    }
  }

  .border-white {
    border: solid;
    border-color: white;
  }
}