@import '../../sass/variables.scss';

.lang-toggle {
  cursor: pointer;
  text-transform: uppercase;
  width: 6rem;
  height: 2rem;
  color: #f5f5f5;
  background: $color-blue;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;

  &:focus {
    background: $color-blue;
  }

  &:hover {
    transform: scale(1.4);
  }

  @include responsive(tab-port) {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
  }
}