span-tshirt-size{
  display:block;
  width:100px;
  height: 100%;
  margin: 0 auto;
}
tshirt-wrapper {
  position:absolute;
  top:0px;
  left:0px;
}
svg-tshirt {
 
}

.floatTL{
  position:absolute;
  top:50px;
  left:0px;
  z-index: +10;
  height: 100%;
  width: 100%;
  font-size: 200%;
  font-weight: bold;
 }

