span-tshirt-size{
  position:absolute;
    top:0px;
    left:0px; 
}
tshirt-wrapper {
  position:absolute;
  top:0px;
  left:0px;
}
svg-tshirt {
 
}

.floatTL1{
  position:absolute;
     top:0px;
     left:0px;
     z-index: +10;
 }
 .floatTL2{
  position:absolute;
     top:0px;
     left:0px;
     z-index: -10;
 }