@import "../../sass/variables";

.underline {
  text-decoration: underline;
}

.app-header {
  background-color: $color-blue;
  height: $header-height;
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
}

.logo-header {
  height: 6rem;
  grid-column: 2;
}
.logo-header:hover {
  cursor: pointer;
}
.default-header-toggle {
  margin-left: auto;
  margin-right: 5rem;
}
