@import '../../sass/variables';

.underline {
  text-decoration: underline;
}

.app-header {
  background-color: $color-blue;
  height: $header-height;
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
  .logo-header {
    height: 5rem;
    grid-column: 2;
    &:hover {
      cursor: pointer;
    }
  }
}
