@import '../../sass/variables';
@import '../../sass/mixin';

.underline {
  text-decoration: underline;
}

.app-header {
  height: 10rem;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  .logo-header {
    height: 8rem;

    @include responsive(phone) {
      height: 5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.styled-header {
  background-color: $color-blue;
}