@import '../../sass/variables';
@import '../../sass/mixin';

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  background-color: $footer-background-color;
  height: $footer-height;
  align-items: center;

  @include responsive(phone) {
    grid-template-columns: 1fr 1fr;
  }

  .copyright-container {
    grid-column-start: 2;

    @include responsive(phone) {
      grid-column-start: 1;
      margin-left: 4rem;
      margin-right: auto;
    }

    color: white;
  }

  .powered-container {
    margin-left: auto;
    margin-right: 5rem;
  }
}