@import "../../sass/variables";

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  background-color: $footer-background-color;
  height: $footer-height;
  align-items: center;
  .contactus-container {
    margin-left: auto;
    margin-right: 5rem;
  }
  .copyright-container {
    color: white;
  }
  .powered-container {
    margin-left: 5rem;
    margin-right: auto;
  }
}
