.button-link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-round {
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
