$color-blue: #005aa2; // Default color for the web app
$color-blue-light: #88b4dc;
$color-blue-low-opacity: #0059a2d5; // Default color for the web app
$color-blue-light-low-opacity: #88b3dcce;
$color-red: #ff0000;
$color-red-light: #f37171;
$color-white: #ffffff; // Default color for label from header
$color-dark-grey: #464646;
$footer-background-color: #282a2b;

$footer-height: 7rem;
$header-height: 12rem;
$room-header-height: 12rem;
$max-width-container: 1200px;
