@import '../../sass/variables';

.card-panel.red.lighten-1 {
  opacity: 0.8;
  border-radius: 2rem;
  font-size: 1.5rem;
  transition: opacity 1s, height 0s;

  color: $color-white;

  &.fade-in {
    transition: height 500ms, opacity 300ms;
    padding: 0;
    opacity: 0;
  }
}