@import "../../../../common/sass/variables";

.participant-item {
  width: 100%;
  display: flex;
  // background-color: rgb(243, 245, 247);

  align-items: center;
  justify-content: space-around;
  &:hover {
    background-color: red;
    color: white;
    .deleteIcon {
      visibility: visible;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .participant-item-text {
    min-width: 15rem;
  }
  .participant-vote {
    color: $color-blue;
    text-align: center;
    min-width: 4rem;
  }
  .scissor-icon {
    font-size: 1em;
    color: $color-blue;
  }
  .deleteIcon {
    display: block;
    visibility: hidden;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
  }
}
