@import '../../../../common/sass/variables';
@import '../../../../common/sass/mixin';

.participant-item {
  width: 100%;
  display: flex;
  // background-color: rgb(243, 245, 247);

  align-items: center;
  justify-content: space-around;

  &:hover {
    background-color: $color-blue;
    color: white;

    .deleteIcon {
      visibility: visible;
      color: red;
    }

    .participant-vote {
      color: white;
    }

    .trafficlight-icon {
      color: white;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .participant-item-text {
    min-width: 15rem;

    @include responsive(tab-port) {
      min-width: 10rem;
    }
  }

  .participant-vote {
    color: $color-blue;
    text-align: center;
    min-width: 4rem;

    @include responsive(tab-port) {
      min-width: 0rem;
    }

  }

  .scissor-icon {
    font-size: 1em;
  }

  .trafficlight-icon {
    font-size: 1em;
  }

  .trafficlight-red {
    color: $color-red;
  }

  .trafficlight-orange {
    color: $color-orange;
  }

  .trafficlight-green {
    color: $color-green;
  }

  .deleteIcon {
    display: block;
    visibility: hidden;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
  }
}