@import '../../../../common/sass/variables';
@import '../../../../common/sass/mixin';

.sideBarContainer {
  background-color: $color-blue-light;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 0.5rem;
  height: 100%;
  .roomInfo {
    color: $color-blue;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
  .participants-list {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    border: none;
    color: #606168;
    font-size: 1.25rem;
  }
}
