@import '../../sass/variable';



.app-header {
  text-align: center;  
  background-color: $color-blue;
  height: $header-height;
  padding-top: 3rem;
  color: $color-white;
}

.logo-header {
 height: 6rem;
}