@import '../../sass/variable';

@media screen and (min-width: 1024px) {
  .dashboard-session {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.dashboard-container{
  min-height: calc(100vh - #{$footer-height});
  display:flex;
  flex-direction: column;
}

.room-container{
  display: flex;
  justify-content:space-between;
  background-image: linear-gradient(to right bottom,$color-blue-low-opacity ,$color-blue-light-low-opacity), url(../../img/planning-poker.jpg);
}
.room-title-logo{
  margin-left: 20px;
  align-self: center;
  flex-grow: 1;
}
.room-title-box{
  padding: 20px;
  flex-grow: 5;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.room-code-box{
  color: #ffffff;
  border-style: solid;
  padding: 20px;
  align-self: flex-end;
  margin-right: 20px;
}
.participants-list{
  flex-grow: 5;
  margin: 10px 15px;
  overflow: auto;
}
.participants-list-header{
  margin-left: 20px;
}

#toast-container {
  top: auto !important;
  right: 7%;
  bottom: 20%;
  left:auto !important;
}

.participant-item{
  margin: 15px 0px;
  padding: 0px 20px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  display: flex; 
  background-color: rgb(243, 245, 247);
}
.participant-item-text{
  flex-grow: 5;
}

.participant-item:hover{
   
  .deleteIcon {
    visibility: visible;
}
	
}

.account-icon{
  padding-right: 10px;
}

.deleteIcon {
  visibility: hidden;
  padding-left: 5px;
  color: #f00c0c;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.delete-modal{
  width: 25%;
  top: 35% !important;
}

.sideBar{
  width: 200px;
  height:calc(100vh - 265px);
  background-color: rgb(243, 245, 247);
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
 
}

.white-text{
  color: #ffffff;
}

.btn-delete-room{
  align-self:center ;
  margin: 20px;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}



