@import '../../sass/variable';


.dashboard-container{
  min-height: calc(100vh - #{$footer-height});
  display:flex;
  flex-direction: column;
}

.room-container{
  display: flex;
  justify-content:space-between;
  background-image: linear-gradient(to right bottom,$color-blue-low-opacity ,$color-blue-light-low-opacity), url(../../img/planning-poker.jpg);
}
.room-title-logo{
  margin-left: 2rem;
  align-self: center;
  flex-grow: 1;
}
.room-title-box{
  font-size: 5rem;
  padding: 2rem;
  flex-grow: 5;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.room-code-box{
  color: #FFFFFF;
  border-style: solid;
  padding: 2rem;
  align-self: flex-end;
  margin-right: 2rem;
}
.participants-list{
  flex-grow: 5;
  margin: 1rem 1.5rem;
  overflow: auto;
}
.participants-list-header{
  background-color: rgb(116, 121, 121);
  color: #FFFFFF;
  padding: 0.5rem;
}

#toast-container {
  top: auto !important;
  right: 2%;
  bottom: 8%;
  left:auto !important;
}

.participant-item{
  height: 3rem;
  font-size: 1.3rem;
  line-height: 3rem;
  display: flex; 
  background-color: rgb(243, 245, 247);
}
.participant-item-text{
  flex-grow: 5;
}

.participant-item:hover{
   
  .deleteIcon {
    visibility: visible;
}
	
}

.account-icon{
  padding-right: 1rem;
}

.deleteIcon {
  visibility: hidden;
  padding-left: 0.5rem;
  color: #f00c0c;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-end;
}

.delete-modal{
  width: 25%;
  top: 35% !important;
}
.cancel-button-comfirm{
margin-right: 20px
}

.sideBarContainer{
  margin: 3rem 2rem;
  height: 50rem;
  background-color: rgb(243, 245, 247);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}



.white-text{
  color: #ffffff;
}

.btn-delete-room{
  align-self:center ;
  margin: 2rem;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}




