@import "../../sass/variable";

.footer-copyright {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  background-color: $footer-background-color;
  height: $footer-height;
}

.copyright-container {
  color: white;
  grid-column: 2;
  place-self: center;
}
.powered-container {
  margin-left: auto;
  margin-right: 5rem;
  place-self: center;
}
