@import '../../sass/variable';

footer.page-footer {
  background-color: $footer-background-color
}

.footer-copyright{
  color: $color-white;
  font-size: 12px;
  text-align: center;
  height:  $footer-height;
 
}
