@import "../../common/sass/variables";

.card-session {
  margin-left: 20%;
  margin-right: 20%;
}

.main-container {
  height: calc(100vh - (#{$header-height} + #{$footer-height}));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Button create */
.center-align {
  margin-bottom: 1.5rem;
  &.loading {
    display: none;
  }
  .btn-create {
    background-color: $color-blue-light;
    min-width: 8rem;
  }
  /* button focus hover floting color */
  .btn-create:focus,
  .btn-create:hover,
  .btn-floating:focus {
    background-color: $color-blue;
  }
}

.input-field {
  /* input text focus color */
  input[type="text"]:focus {
    /* label underline focus color */
    border-bottom: 0.1rem solid $color-blue;
    box-shadow: 0 0.1rem 0 0 $color-blue;
    /* label focus color */
    + label {
      color: $color-blue;
    }
  }
  /* input text error */
  input.error[type="text"] {
    /* label underline focus color error */
    border-bottom: 0.1rem solid $color-red;
    box-shadow: 0 0.1rem 0 0 $color-red;
    /* label color error */
    + label {
      color: $color-red;
    }
    /* focus and label color error */
    :focus + label {
      color: $color-red;
    }
  }
}

/* By default, the value of top is too high for displaying the error message */
input.error {
  + label:after {
    top: 4rem;
  }
}

.store-badge-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-badge-text {
  color: $color-blue;
}
