@import '../../common/sass/variables';
@import '../../common/sass/mixin';

.main-container {
  height: calc(100vh - #{$footer-height});
  // background-color: $color-blue;
  background-image: url('../../img/page1.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .card-container {
    align-self: flex-start;
    width: 35rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    /* Button create */
    .center-align {
      margin-bottom: 1.5rem;
      &.loading {
        display: none;
      }
    }
    .room-form {
      width: 100%;
    }
    .room-card {
      .title {
        margin: 0;
      }
      border-radius: 3rem;
      background-color: $color-blue-light;
      padding: 1.5rem;
      color: $color-blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn-create {
        background-color: $color-blue;
        color: white;
      }
    }
  }
  .store-badge-text {
    margin-top: 2rem;
    color: white;
  }

  .store-badge-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
