@import '../../common/sass/variables';
@import '../../common/sass/mixin';

.main-container {
  height: calc(100% - #{$footer-height});
  background-image: url('../../img/page1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .card-container {
    position: absolute;
    top: 35%;
    left: 10%;
    align-self: flex-start;
    width: 35rem;

    @include responsive(big-desktop) {
      width: 40rem;
    }

    /* Button create */
    .center-align {
      margin-bottom: 1.5rem;

      &.loading {
        display: none;
      }
    }

    .room-form {
      width: 100%;
    }

    .room-card {
      .title {
        margin: 0;
      }

      border-radius: 3rem;
      background-color: $color-blue-light;
      padding: 1.5rem;
      color: $color-blue;
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn-create {
        background-color: $color-blue;
        color: white;
      }
    }
  }

  .store-badge-text {
    margin-top: 2rem;
    color: white;
  }

  .store-badge-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}