@import "../../common/sass/variables";

.link-connect {
  color: $color-blue;
  margin-right: 5rem;
  .link-connect:focus,
  .link-connect:hover,
  .link-connect:focus {
    color: $color-blue-light;
  }
}

.link-delete {
  color: $color-red;
  .link-delete:focus,
  .link-delete:hover,
  .link-delete:focus {
    color: $color-red-light;
  }
}

.room-list-container {
  height: calc(100vh - (#{$header-height} + #{$footer-height}));
  .room-card {
    margin: 1rem;
  }
}
