@import "../../common/sass/variables";
@import "../../common/sass/mixin";

.room-container {
  min-height: calc(100vh - (#{$room-header-height} + #{$footer-height}));

  @include responsive(mid-desktop) {
    min-height: calc(100vh - (#{$room-header-height-mid} + #{$footer-height}));
  }

  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .room-container-row {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    .room-container-col {
      min-height: 100%;
      &:nth-child(2) {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    ul {
      &.dropdown-content {
        &.select-dropdown {
          li {
            span {
              color: $color-blue-light;
            }
          }
        }
      }
    }
    .vote-toggle {
      width: 8rem;
      height: 8rem;
      line-height: 8rem;
      background-color: green;
      color: white;
      font-size: 2rem;
    }

    .btn-room-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .room-button-row {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include responsive(phone) {
      grid-template-columns: 3fr 1fr;
    }
    grid-column-gap: 5px;
    justify-items: center;

    .edit-btn-container {
      grid-column-start: 2;
      @include responsive(phone) {
        grid-column-start: 1;
      }
      .btn-room-reveal {
        margin: 0.5rem;
        color: white;
        background-color: $color-blue;
        &:hover {
          background-color: $color-blue-light;
          color: #fff;
        }
        &:disabled {
          background-color: $color-blue-light;
          color: #fff;
        }
      }
      .btn-room-reset {
        margin: 0.5rem;
        color: white;
        background-color: #00a28c;
        &:hover {
          background-color: #00a28c3f;
          color: #fff;
        }
      }
    }
    .delete-btn-container {
      margin-left: auto;
      margin-right: 23%;
    }
  }
}
