@import '../../common/sass/variables';
@import '../../common/sass/mixin';

.room-container {
  height: calc(100% - #{$footer-height});
  display: flex;

  .left-container {
    height: 100%;
    width: 75%;
    .header-container {
      height: 15%;
    }
    .ceremony-container {
      height: 70%;
    }
    .ceremony-actions-container {
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-room-reveal {
        margin: 10rem;
        color: white;
        background-color: $color-blue;
        &:hover {
          background-color: $color-blue-light;
          color: #fff;
        }
        &:disabled {
          background-color: $color-blue-light;
          color: #fff;
        }
      }
      .btn-room-reset {
        margin: 10rem;
        color: white;
        background-color: #00a28c;
        &:hover {
          background-color: #00a28c3f;
          color: #fff;
        }
      }
    }
  }
  .right-container {
    height: 100%;
    width: 25%;
    background-image: url('../../img/page2.png');
    background-size: cover;
    .lang-container {
      height: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5rem;
      .lang-toggle {
        background-color: white;
        color: $color-blue;
      }
    }
    .ceremony-radio-container {
      height: 8%;
    }
    .sidebar-container {
      height: 62%;
      padding: 0 3rem;
      .sidebar {
        height: 100%;
      }
    }
    .btn-delete-container {
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
