@import '../../common/sass/variables';

.main-container {
  height: calc(100% - #{$footer-height});
  background-image: url('../../img/page1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .card-container {
    position: absolute;
    top: 35%;
    left: 10%;
    align-self: flex-start;
    width: 35rem;
  }

}