@import '../../../../common/sass/variables';

.delete-modal-trigger {
  margin: 0.5rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.726);
  &:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.726);
  }
  &:focus {
    background-color: rgba(255, 0, 0, 0.308);
    color: #fff;
  }
}
.delete-modal {
  width: 25%;
  top: 35% !important;
}
.actions-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
  margin: 0.6rem 0.5rem;
}
