@import '../../../../common/sass/variables';

.delete-modal-trigger {
  margin: 0.5rem;
  color: white;
  background-color: rgb(255, 0, 0);

  &:hover {
    background-color: white;
    color: blue;
  }

  &:focus {
    background-color: rgb(255, 0, 0);
    color: #fff;
  }


}

.delete-modal {
  width: 25%;
  top: 35% !important;
  background-color: $color-blue;
  color: white;
}

.actions-buttons-container {
  display: flex;
  justify-content: flex-end;

  .actions-button-delete {

    background: $color-red;

    &:hover {
      background: $color-red-light;
    }

    &:focus {
      background: $color-red-light;
    }

  }
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
  margin: 0.6rem 0.5rem;
}