@import "../../../../common/sass/variables";

.delete-modal-trigger {
  min-width: 15rem;
  border-radius: 0.5rem;
  &:before {
    background-color: rgba(85, 0, 145, 0.699) lighten-3;
    color: white;
  }
}
.delete-modal {
  width: 25%;
  top: 35% !important;
}
.actions-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
  margin: 0.6rem 0.5rem;
}
