@import "../../sass/variables";

.contact-us-container {
  .contact-form-container {
    margin-top: 2rem;
  }
  padding: 1rem;
  .comment-section {
    margin-top: 2rem;
  }
  .thankyou-container {
    color: green;
    text-align: right;
  }
}
.contact-us-btn {
  color: white;
  &:focus {
    background: $color-dark-grey;
  }
}
